body {
    background: rgb(43,8,51);
    font-family: Arcade;
    color:rgb(194, 0, 184);
}
a {
    color: rgb(245, 130, 239);
}
.modal {
    box-sizing: border-box;
    position: absolute;
    visibility: hidden; /* hidden | visible */
    z-index: 1;
    height: 599px;
    width: 600px;
    top: 9px;
    left: 50%;
    transform: translate( -50%);
    background: #000000;
    text-align: center;
    color: #cc00ff;
    font-size: 50px;
}
.stopped {
    padding-top: 270px;
    opacity: 50%;
}
.highlightedText {
    color: #ffffff;
}
.section {
    margin: auto;
    display: flex;
    justify-content: center;
}
.upper {
    flex-direction: row;
    height: 600px;
}
.lower {
    flex-direction: column;
    height: 200px;
}
.panel {
    height: 600px;
    width: 100px;
}
.panel__controlElement {
    width: 100px;
    height: fit-content;
    border: 1px solid rgb(194, 0, 184);
}
.button {
    user-select: none;
    background: #000000;
    border: 1px solid rgb(194, 0, 184);
    text-align: center;
    font-size: 25px;
    width: auto;
    height: 26px;
}
.button:hover {
    color:rgb(245, 130, 239);
}
.pressedButton {
    color:rgb(245, 130, 239);
}
.pen {
    position: relative;
    /* margin: auto; */
    width: 600px;
    height: 600px;
    background: #000000;
    border: 1px solid rgb(194, 0, 184);
}
.square {
    position: absolute;
    width: 18px;
    height: 18px;
}
.first {
    background:#5bf646;
}
#food {
    background: rgb(255, 255, 255);
}
.stats {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.control {
    position: relative;
    margin:auto;
    margin-top: 5px;
    width: 600px;
    height: 230px;
    background: #000000;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
}
.bar {
    width: 600px;
    height: 30px;
    background: #000000;
}
#fill {
    width: 0px;
    height: 30px;
    background: rgb(194, 0, 184);
}
.stats__icon {
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
}
.numbers, .descriptions {
    width: 600px;
    height: 55px;
    color: #cc00ff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.counter, .text{
    text-align: center;
    height: auto;
    width: 300px;
    font-size: 60px;
}
